body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #218838;
}

#todo-list{
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
}

#maindiv{
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content:space-between;
    border-radius: 5px;
    border-left: 5px solid #28a745;
}
#completebtn{
    background-color: #0453f0;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
#completebtn:hover {
    background-color: #1e43d9;
}

#delebtn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#delebtn:hover {
    background-color: #c82333;
}
